<h1>Estimations</h1>

<ul>
  <li *ngFor="#estimation of estimations.getEstimations(); #i=index">
    <input [(ngModel)]="estimation.title" />
    <input [(ngModel)]="estimation.value" />
    <button (click)="removeEstimation(i)">×</button>
  </li>
</ul>

<form (ngSubmit)="createEstimation(titleInput)" #estimationForm="ngForm">
  <input type="text" required [(ngModel)]="newEstimation.title" #titleInput />
  <input type="text" required pattern="[0-9]*(\.[0-9]+)?" [(ngModel)]="newEstimation.value" />
  <button type="submit" class="btn btn-default" [disabled]="!estimationForm.form.valid">
    Add
  </button>
</form>
