@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.0/flexboxgrid.css);

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 18px;
  line-height: 25px;
}

header>div {
  display: flex;
}

.toolbar>a>svg,span {
  vertical-align: middle;
}

#applicationRoot>header {
  width: 100%;
  padding-bottom: 24px;
}
#applicationRoot>header .toolbar>a {
  text-decoration: none;
}
#applicationRoot>header .toolbar>a.disabled {
  cursor: default;
  color: black;
  pointer-events: none;
}

.small {
  font-weight: 300;
  padding: 0 0.3em;
}

.estimationValue {
  color: #777777;
}
.estimationValue .base {
  color: #3c763d;
}
.estimationValue .buffer {
  color: #31708f;
}
.estimationValue .total {
  color: #8a6d3b;
}

.addSomethingTextField {
  width: calc(100% - 54px);
}
